@using Microsoft.AspNetCore.Components.Web
@using RPBlazorPlugin.Loader;
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    [Inject]
    private PluginAssetLoader assetLoader { get; set; }

    private System.Reflection.Assembly[] assemblies;

    protected override void OnInitialized()
    {
        assemblies = assetLoader.GetLoadedAssemblies();

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await assetLoader.LoadAssets();
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}