@using Microsoft.AspNetCore.Components.Web
@using RPBlazorPluginManager;
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    [Inject]
    private AssetLoader assetLoader { get; set; }

    [Inject]
    private RPBlazorPluginManager.PackageRepository pluginLoader { get; set; }

    [Inject]
    private DocumentObjectModelInterop domInertop { get; set; }

    [Inject]
    private NavigationManager navigationManager { get; set; }

    private System.Reflection.Assembly[] assemblies;

    protected override async Task OnInitializedAsync()
    {
        assemblies = pluginLoader.LoadedPlugins.Select(x => x.Assembly).ToArray();

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await assetLoader.LoadAssets(navigationManager.BaseUri);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task IncludeAsync(global::RPBlazorPluginManager.LoadedPlugin plugin)
    {
        // await this.pluginLoader.LoadAssets(domInertop);


        // await domInertop.LoadPlugingAssets(plugin.Name);
        // foreach (var styleSheet in plugin.StyleSheets)
        // {
        //     await domInertop.IncludeStylesheet(styleSheet);
        // }

        // foreach (var script in plugin.Scripts)
        // {
        //     await domInertop.IncludeScript(script);
        // }
    }
}